* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  background-color: #101010;
  height: 100vh;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  &::-webkit-scrollbar-track {
    background-color: #101010;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@500&display=swap");
