html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

header {
  display: flex;
  flex-direction: column;
  height: 120px;
  padding: 0px 25px;
  justify-content: center;
}

#header-logo {
  color: #ff0000;
  font-size: 48px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 3px #5c5c5c;
  letter-spacing: -1px;
}

.movies {
  color: white;
}

.movies-title {
  margin: 0;
  padding: 32px 0px;
  font-size: 32px;
}

.movies-list {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
  padding: 0px 25px;
  width: 100vw;
  overflow-x: scroll;
  column-gap: 24px;
}

.movies-list-item {
  margin: 0;
}

.movies-list-item-title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}
